# Hands-On: Data Exploration

In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Data exploration") \
    .getOrCreate()

In [3]:
path_to_file = 'data/daily_weather.csv'
df = spark.read.csv(path_to_file, header=True, inferSchema=True)

In [4]:
df.columns

['number',
 'air_pressure_9am',
 'air_temp_9am',
 'avg_wind_direction_9am',
 'avg_wind_speed_9am',
 'max_wind_direction_9am',
 'max_wind_speed_9am',
 'rain_accumulation_9am',
 'rain_duration_9am',
 'relative_humidity_9am',
 'relative_humidity_3pm']

In [5]:
df.printSchema()

root
 |-- number: integer (nullable = true)
 |-- air_pressure_9am: double (nullable = true)
 |-- air_temp_9am: double (nullable = true)
 |-- avg_wind_direction_9am: double (nullable = true)
 |-- avg_wind_speed_9am: double (nullable = true)
 |-- max_wind_direction_9am: double (nullable = true)
 |-- max_wind_speed_9am: double (nullable = true)
 |-- rain_accumulation_9am: double (nullable = true)
 |-- rain_duration_9am: double (nullable = true)
 |-- relative_humidity_9am: double (nullable = true)
 |-- relative_humidity_3pm: double (nullable = true)

In [6]:
df.describe().toPandas()

,summary,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,count,1095,1092,1090,1091,1092,1092,1091,1089,1092,1095,1095
1,mean,547.0,918.8825513138094,64.93300141287072,142.2355107005759,5.50828424225493,148.95351796516923,7.019513529175272,0.20307895225211126,294.1080522756142,34.24140205923536,35.34472714825898
2,stddev,316.24357700987383,3.184161180386833,11.175514003175877,69.13785928889189,4.5528134655317185,67.23801294602953,5.598209170780958,1.5939521253574893,1598.0787786601481,25.472066802250055,22.524079453587273
3,min,0,907.9900000000024,36.752000000000685,15.500000000000046,0.69345139999974,28.89999999999991,1.1855782000000479,0.0,0.0,6.090000000001012,5.3000000000006855
4,max,1094,929.3200000000012,98.90599999999992,343.4,23.554978199999763,312.19999999999993,29.84077959999996,24.01999999999907,17704.0,92.6200000000002,92.2500000000003

In [7]:
df.describe('air_pressure_9am').show()

+-------+-----------------+
|summary| air_pressure_9am|
+-------+-----------------+
|  count|             1092|
|   mean|918.8825513138094|
| stddev|3.184161180386833|
|    min|907.9900000000024|
|    max|929.3200000000012|
+-------+-----------------+

In [8]:
len(df.columns)

11

In [9]:
df.count()

1095

In [14]:
df2 = df.na.drop(subset=['rain_accumulation_9am'])

In [15]:
df2.count()

1089

In [12]:
df2.stat.corr('rain_accumulation_9am','rain_duration_9am')

0.7298253479609021